/* ---------------------- HEADER ----------------------*/



/* ----------------------- MENU -----------------------*/



/* ----------------------- TEAM -----------------------*/

#team {
	position: relative;
	height: 451px;
}

#team .conteiner {
	position: absolute;
	left: 0;
	right:0;
}

#team .row {
	margin: 0;
}

#team .col-md-4 {
	padding: 0;
}

#team .box_image {
	width: 100%;
	background-color: red;
	height: 360px;
	padding: 0;
}

#team h2.name_member {
	text-align: center;
	margin-bottom: 0px;
}

#team .team_role {
	text-align: center;
	display: block;
	padding: 15px;
	font-size: 20px;
}

#team #slide_2 {
	right: -100%;
	left: 100%;
	opacity: 0;
}

#team .arrow {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: blue;
	position: absolute;
	top: 180px;
	z-index: 1;
}

#team #arrow_right {
	right: 10px;
}

#team #arrow_left {
	left: 10px;
}




/* ---------------------- WORKS -----------------------*/
#works {
	background-color: #bcf6ff;
}

#works .box {
	width: 100%;
	height: 100px;
	background-color: black;
	margin: 0 auto;
	margin-top: 30px;
}
.col-4 {
	background-color: blue;
	height: 300px;
	padding: 0.75rem;
}
#works .title {
	font-weight: 20;
	font-size: 80px;
	text-align: center;
}
#works .title_container {
	width: 100%;
}
.form-group {
	margin-top: 35px;
}
.center_works {
	text-align: center;
}
label {
	font-size: 30px;
	color: #55a6b2;
}
#graphic {
	margin: 0 10px;
}
#video {
	margin: 0 10px;
}
#web {
	margin: 0 10px;
}
#interaction {
	margin: 0 10px;
}
.graphic {

}
.video {

}
.web {

}
.interaction {

}
/* --------------------- CONTACTS ---------------------*/



/* ---------------------- FOOTER ----------------------*/