body {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}


/* ---------------------- HEADER ----------------------*/
#header .bottone_simone {
	background-color: #a51d1d;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: relative;
	display: block;
	margin: auto;
	top: 90%;
}
#header .riquadro_scroll {
	background-image: url(../images/sfondo.png);
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}
#header .scroll_container {
	background-image: url(../images/esempio.png);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and (max-device- width: 1366px) {
	#header .scroll_container {
		background-attachment: scroll;
		}
	}


/* ----------------------- MENU -----------------------*/

.logo {
    width: 400px;
    height: 400px;
    background-image: url();
}

#menu {
	position: relative;
	width: 100%;
}

#menu .hambmenu {
	width: 80px;
	position: fixed;
	top: 30px;
	right: 20px;
	text-align: right;
	padding-right: 30px;
	height: 30px;
	cursor: pointer;
	color: #262626;
	z-index: 1000;
}

#menu .open {
	position: absolute;
	right: 50px;
	font-size: 24px;
	bottom: -6px;
}

#menu .open .closed {
	width: 50px;
	position: absolute;
	top: 0;
	right: 35px;
}

#menu .closed {
	display: none;
}

#menu .closed.active {
	display: block;
}

#menu .hambmenu.active .open {
	display: none;
}

#menu .hambmenu:before,
#menu .hambmenu:after
 {
	content: '';
	position: absolute;
	width: 50px;
	height: 4px;
	background-color: #262626;
	right: 15px;
}

#menu .hambmenu:before
{
	top: 5px;
	transition: .5s;
}

#menu .hambmenu:after
{
	bottom: 5px;
	transition: .5s;
}

#menu .hambmenu.active:before
{
	background-color: #fff;
	top: 17px;
	transform: rotate(50deg);
}

#menu .hambmenu.active:after
{
	background-color: #fff;
	bottom: 9px;
	transform: rotate(-50deg);
}

#menu .menu {
	width: 100%;
	height: 100vh;
	background-color: #262626;
	display: none;
	position: fixed;
	z-index: 999;
}

#menu .menu.active {
	display: block;
	height: 100%;
	width: 100%;
}

#menu .menu ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#menu .menu ul li {
	list-style: none;
}

#menu .menu ul li a {
	display: block;
	font-size: 24px;
	margin: 10px 0;
	color: #fff;
	text-decoration: none;
}
/* ----------------------- TEAM -----------------------*/

#team {
	position: relative;
}

#team .element {
    background: #c4e5f0;
    border-radius: 2px;
    margin: 5px;
    height: 350px;
    overflow: hidden;
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 170px;
    margin-top: 50px;

}

#team .element .background_effect {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-image: url("../images/fixed_photo.jpeg");
	background-size: cover;
	background-position: center;
	opacity: 0.3;
}

#team .element .color_effect {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #c4e5f0;
	mix-blend-mode: color;
}

#team .element .name {
	position: relative;
	color: white;
	background-color: #14597f;
}

#team .window {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: #145a80;
	transition: 0.5s ease-in-out;

}

#team .window .quote {
	display: block;
    position: relative;
    top: 50px;
    text-align: center;
    color: white;
    text-transform: none;
    font-weight: 100;

}


#team .title {
	font-weight: 20;
	font-size: 90px;
	text-align: center;
	margin-top: 100px;
}

#team .button_up {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #ddd;
	position: absolute;
	left:50%;
	top: -25px;
	transform: translate(-25px, 0);
	cursor: pointer;
	box-shadow: 0px 1px 1px black;

}


#team i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 9px;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
}

#team .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s ease-in-out;
}

#team .button_photo {

	margin-top: 126px;
    padding: 5px 20px;
    border-radius: 2px;
    background: none;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
    outline: none;

}

#team .button_photo:hover {
	background: white;
	color: black;
}

#team .foto {
	width: 100px;
	width: 100px;
    height: 100px;
    background: black;
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translate(-50px, 0);
    display: none;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    box-shadow: 0px 1px 1px #0000007d
}

#team .foto_1 {
	background-image: url("../images/antista.jpg");
}

#team .foto_2 {
	background-image: url("../images/calabruso.jpg");
}

#team .foto_3 {
	background-image: url("../images/IMG_flavio.jpg");
}

#team .foto_4 {
	background-image: url("../images/diCarluccio.jpg");
}


#team .button_close {
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 20px;
	line-height: 18px;
	font-family: helvetica;
	font-size: 12px;
    padding: 2px;
    margin: 2px;
    box-shadow: 0px 1px 1px #0000007d;
    cursor: pointer;
}

#team .box_image {
	background-image: url('../images/fixed_photo.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	margin-top: 100px;
}

#team .myProgress, .myProgress1, .myProgress2, 
      .myProgress3, .myProgress4, .myProgress5, 
      .myProgress6, .myProgress7, .myProgress8 {
	width:  200px;
	margin-left: 9px;
	position: relative;
}

#team .myBar, .myBar1, .myBar2, .myBar3, .myBar4, 
      .myBar5, .myBar6, .myBar7, .myBar8 {
	width: 100%;
	background-color: #e0e0e0;
	padding: 3px;
	border-radius: 3px;
	cursor: pointer;
}

#team .progressBarFill, .progressBarFill1, .progressBarFill2, 
      .progressBarFill3, .progressBarFill4, .progressBarFill5, 
      .progressBarFill6, .progressBarFill7, .progressBarFill8 {
	height: 22px;
	display: block;
	background-color: #37AAB4;
	border-radius: 3px;
	width: 0;
	transition: 0.5s ease-in-out;
}

#team .skill, .skill1, .skill2, .skill3, .skill4, 
      .skill5, .skill6, .skill7, .skill8 {
	margin-left: 129px;
    border-radius: 3px;
    background: #e0e0e0;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    bottom: 29px;
    font-size: 14px;
}

#team .reset, .reset1, .reset2, .reset3, .reset4, 
      .reset5, .reset6, .reset7, .reset8 {
	margin-left: 285px;
    border-radius: 3px;
    background: #e0e0e0;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    bottom: 55px;
    font-size: 14px;
}

#team .scritta, .scritta1, .scritta2, .scritta3, .scritta4, 
      .scritta5, .scritta6, .scritta7, .scritta8 {
	padding-top: 40px;
	color: white;
}


@media screen and (max-width: 768px) {
	#team .myProgress, .myProgress1, .myProgress2, 
          .myProgress3, .myProgress4, .myProgress5, 
          .myProgress6, .myProgress7, .myProgress8 {
    width: 100px;
    }
}

@media screen and (max-width: 768px) {
	#team .scritta, .scritta1, .scritta2, .scritta3, .scritta4, 
          .scritta5, .scritta6, .scritta7, .scritta8 {
    padding: 0;
    }
}

@media screen and (max-width: 768px) {
	#team .skill, .skill1, .skill2, .skill3, .skill4, 
          .skill5, .skill6, .skill7, .skill8 {
    margin: 31px;
    margin-left: 10px;
    }
}

@media screen and (max-width: 768px) {
	#team .reset, .reset1, .reset2, .reset3, .reset4, 
          .reset5, .reset6, .reset7, .reset8 {
    margin: 0;
    margin-left: -13px;
    bottom: 50px;
    }
}



@media screen and (max-width: 1150px) {
	#team .myProgress, .myProgress1, .myProgress2, 
          .myProgress3, .myProgress4, .myProgress5, 
          .myProgress6, .myProgress7, .myProgress8 {
    width: 200px;
    }
}

@media screen and (max-width: 1150px) {
	#team .scritta, .scritta1, .scritta2, .scritta3, .scritta4, 
          .scritta5, .scritta6, .scritta7, .scritta8 {
    padding: 0;
    }
}

@media screen and (max-width: 1150px) {
	#team .skill, .skill1, .skill2, .skill3, .skill4, 
          .skill5, .skill6, .skill7, .skill8 {
    margin: 31px;
    margin-left: 0px;
    }
}

@media screen and (max-width: 1150px) {
	#team .reset, .reset1, .reset2, .reset3, .reset4, 
          .reset5, .reset6, .reset7, .reset8 {
    margin: 0;
    margin-left: -25px;
    bottom: 29px;
    }
}


/* ---------------------- WORKS -----------------------*/
#works {
	position: relative;
}
#works .mainContainer {
	position: absolute;
	left: 0;
	right: 0;
	background: #667db6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-top: 20px;
	background-size: 600%;
	background-position: 0 0;
	box-shadow: inset 0 0 5em rgba(0,0,0,.5);
	background-repeat: repeat-x;
	height: 1532px;
}
#works .box {
	width: 100%;
	background-color: #55a6b2;
	margin: 0 auto;
	margin-top: 30px;
}
#works .title {
	font-weight: 20;
	font-size: 90px;
	text-align: center;
}
#works .title_container {
	width: 100%;
	text-align: center;
	height: 80px;
}
.form-group {
	margin-top: 30px;
}
.center_works {
	text-align: center;
}
label {
	font-size: 30px;
	color: #fff;
}
#graphic {
	margin: 0 10px;
}
#video {
	margin: 0 10px;
}
#web {
	margin: 0 10px;
}
#interaction {
	margin: 0 10px;
}
#All {
	margin: 0 10px;
}
.graphic {
	height: 300px;
	width: 100%;
	background-color: blue;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.video {
	height: 300px;
	width: 100%;
	background-color: red;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.web {
	height: 300px;
	width: 100%;
	background-color: green;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.interaction {
	height: 300px;
	width: 100%;
	background-color: brown;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.project {
	margin: 0;
	text-align: center;
	font-family: Roboto;
	font-size: 38pt;
	color: white;
	line-height: 5.5;
	height: 20px;
}

.subject {
	margin: 0;
}

.space {
	height: 0px;
	width: 100%;
	margin-top: 30px;
}

@media screen and (max-width: 768px) {
	#works .title {
		font-weight: 20;
		font-size: 60px;
		text-align: center;
    }
}
@media screen and (max-width: 991px) {
	#works .mainContainer {
		height: 4139px;
	}

}
@media screen and (max-width: 425px) {
	#works .mainContainer {
		height: 4200px;
	}

}
@media screen and (max-width: 465px) {
	#works .mainContainer {
		height: 4200px;
	}

}
@media screen and (max-width: 375px) {
	#works .mainContainer {
		height: 4240px;
	}

}

.img1 {
	background: url(https://cdn.dribbble.com/users/31664/screenshots/1525046/cub-studio-logos-retime-2.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;

}

.img2 {
	background: url(https://cdn.dribbble.com/users/747415/screenshots/2927405/conversable.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;

}

.img3 {
	background: url(https://cdn.dribbble.com/users/4874/screenshots/2705151/dribbble-50-nodither.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img4 {
	background: url(https://cdn.dribbble.com/users/107759/screenshots/4204031/spaced-lol.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img5 {
	background: url(https://cdn.dribbble.com/users/285475/screenshots/1418440/twisted.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img6 {
	background: url(https://cdn.dribbble.com/users/5031/screenshots/2035500/latenightx.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img7 {
	background: url(https://cdn.dribbble.com/users/787686/screenshots/2675012/sludinajums.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img8 {
	background: url(https://cdn.dribbble.com/users/288987/screenshots/2144347/16-10.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img9 {
	background: url(https://cdn.dribbble.com/users/5031/screenshots/2055672/mikaelgustafssondrb2.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img10 {
	background: url(https://cdn.dribbble.com/users/285475/screenshots/2106950/kick_push_dribbble.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img11 {
	background: url(https://cdn.dribbble.com/users/236204/screenshots/1798526/candy_final.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

.img12 {
	background: url(https://cdn.dribbble.com/users/32512/screenshots/4130100/airbus_app__ios11_design_by_gleb.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 25%;
}

@media screen and (max-width: 1199px) {

	.img2 {
	background: url(https://cdn.dribbble.com/users/747415/screenshots/2927405/conversable.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;

	}

}


@media screen and (max-width: 1024px) {
	

	.img1 {
	background: url(https://cdn.dribbble.com/users/31664/screenshots/1525046/cub-studio-logos-retime-2.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
    }
}

.img2 {
	background: url(https://cdn.dribbble.com/users/747415/screenshots/2927405/conversable.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;

}

.img3 {
	background: url(https://cdn.dribbble.com/users/4874/screenshots/2705151/dribbble-50-nodither.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img4 {
	background: url(https://cdn.dribbble.com/users/107759/screenshots/4204031/spaced-lol.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img5 {
	background: url(https://cdn.dribbble.com/users/285475/screenshots/1418440/twisted.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img6 {
	background: url(https://cdn.dribbble.com/users/5031/screenshots/2035500/latenightx.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img7 {
	background: url(https://cdn.dribbble.com/users/787686/screenshots/2675012/sludinajums.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img8 {
	background: url(https://cdn.dribbble.com/users/288987/screenshots/2144347/16-10.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img9 {
	background: url(https://cdn.dribbble.com/users/5031/screenshots/2055672/mikaelgustafssondrb2.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img10 {
	background: url(https://cdn.dribbble.com/users/285475/screenshots/2106950/kick_push_dribbble.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img11 {
	background: url(https://cdn.dribbble.com/users/236204/screenshots/1798526/candy_final.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img12 {
	background: url(https://cdn.dribbble.com/users/32512/screenshots/4130100/airbus_app__ios11_design_by_gleb.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 320px) {
	
	.img1 {
	background: url(https://cdn.dribbble.com/users/31664/screenshots/1525046/cub-studio-logos-retime-2.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
    }

}

.img2 {
	background: url(https://cdn.dribbble.com/users/747415/screenshots/2927405/conversable.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;

}

.img3 {
	background: url(https://cdn.dribbble.com/users/4874/screenshots/2705151/dribbble-50-nodither.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img4 {
	background: url(https://cdn.dribbble.com/users/107759/screenshots/4204031/spaced-lol.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img5 {
	background: url(https://cdn.dribbble.com/users/285475/screenshots/1418440/twisted.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img6 {
	background: url(https://cdn.dribbble.com/users/5031/screenshots/2035500/latenightx.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img7 {
	background: url(https://cdn.dribbble.com/users/787686/screenshots/2675012/sludinajums.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img8 {
	background: url(https://cdn.dribbble.com/users/288987/screenshots/2144347/16-10.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img9 {
	background: url(https://cdn.dribbble.com/users/5031/screenshots/2055672/mikaelgustafssondrb2.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img10 {
	background: url(https://cdn.dribbble.com/users/285475/screenshots/2106950/kick_push_dribbble.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img11 {
	background: url(https://cdn.dribbble.com/users/236204/screenshots/1798526/candy_final.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}

.img12 {
	background: url(https://cdn.dribbble.com/users/32512/screenshots/4130100/airbus_app__ios11_design_by_gleb.gif);
	background-size: cover;
	border-radius: 12px;
	background-position: 47%;
}







.description {
  width: 100%;
  height: 300px;
  opacity: 0;
  border-radius: 12px;
  /*
  transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); 
  */
  transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
  background: -moz-linear-gradient(top, rgba(216,115,127,1) 0%, rgba(216,115,127,1) 44%, rgba(216,115,127,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(216,115,127,1) 0%,rgba(216,115,127,1) 44%,rgba(216,115,127,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(216,115,127,1) 0%,rgba(216,115,127,1) 44%,rgba(216,115,127,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8737f', endColorstr='#00d8737f',GradientType=0 ); /* IE6-9 */

}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555;
}

/* --------------------- CONTACTS ---------------------*/



/* ---------------------- FOOTER ----------------------*/
