body {
	font-family: 'Roboto', sans-serif;
}


/* ---------------------- HEADER ----------------------*/
#header .bottone_simone {
	background-color: #a51d1d;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	position: relative;
	display: block;
	margin: auto;
	top: 90%;
}
#header .riquadro_scroll {
	background-image: url(../images/sfondo.png);
	height: 700px;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}
#header .scroll_container {
	background-image: url(../images/esempio.png);
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and (max-device- width: 1366px) {
	#header .scroll_container {
		background-attachment: scroll;
		}
	}


/* ----------------------- MENU -----------------------*/

.logo {
    width: 400px;
    height: 400px;
    background-image: url();
}

#menu {
	position: relative;
	width: 100%;
}

#menu .hambmenu {
	width: 80px;
	position: fixed;
	top: 30px;
	right: 20px;
	text-align: right;
	padding-right: 30px;
	height: 30px;
	cursor: pointer;
	color: #262626;
	z-index: 1000;
}

#menu .open {
	position: absolute;
	right: 50px;
	font-size: 24px;
	bottom: -6px;
}

#menu .open .closed {
	width: 50px;
	position: absolute;
	top: 0;
	right: 35px;
}

#menu .closed {
	display: none;
}

#menu .closed.active {
	display: block;
}

#menu .hambmenu.active .open {
	display: none;
}

#menu .hambmenu:before,
#menu .hambmenu:after
 {
	content: '';
	position: absolute;
	width: 50px;
	height: 4px;
	background-color: #262626;
	right: 15px;
}

#menu .hambmenu:before
{
	top: 5px;
	transition: .5s;
}

#menu .hambmenu:after
{
	bottom: 5px;
	transition: .5s;
}

#menu .hambmenu.active:before
{
	background-color: #fff;
	top: 17px;
	transform: rotate(50deg);
}

#menu .hambmenu.active:after
{
	background-color: #fff;
	bottom: 9px;
	transform: rotate(-50deg);
}

#menu .menu {
	width: 100%;
	height: 100vh;
	background-color: #262626;
	display: none;
	position: fixed;
	z-index: 999;
}

#menu .menu.active {
	display: block;
	height: 100%;
	width: 100%;
}

#menu .menu ul {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#menu .menu ul li {
	list-style: none;
}

#menu .menu ul li a {
	display: block;
	font-size: 24px;
	margin: 10px 0;
	color: #fff;
	text-decoration: none;
}
/* ----------------------- TEAM -----------------------*/

#team {
	position: relative;
}

#team .element {
	padding: 50px;
	text-align: center;
	background: #bcf6ff;
	border-radius: 2px;
	margin: 5px;
	height: 250px;
	overflow: hidden;
	position: relative;

}

#team .window {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;

}

#team .window1 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window1 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window2 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window2 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window3 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window3 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window4 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window4 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window5 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window5 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window6 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window6 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window7 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window7 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .window8 {
	position: absolute;
	left: 0;
	right: 0;
	height: 15%;
	bottom: 0;
	background: red;
	transition: 0.5s ease-in-out;

}

#team .window8 .quote {
	margin: 30px;
	display: block;
	position: absolute;
	top: 50px;
	text-align: center;
}

#team .title {
	font-weight: 20;
	font-size: 90px;
	text-align: center;
}

#team .button_up {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #ddd;
	position: absolute;
	left:50%;
	top: -25px;
	transform: translate(-25px, 0);
	cursor: pointer;

}


#team i {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 9px;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
}

#team .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s ease-in-out;
}




/* ---------------------- WORKS -----------------------*/
#works {
	position: relative;
}
#works .mainContainer {
	position: absolute;
	left: 0;
	right: 0;
	background: #667db6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin-top: 20px;
	background-size: 600%;
	background-position: 0 0;
	box-shadow: inset 0 0 5em rgba(0,0,0,.5);
	background-repeat: repeat-x;
	height: 1532px;
}
#works .box {
	width: 100%;
	background-color: #55a6b2;
	margin: 0 auto;
	margin-top: 30px;
}
#works .title {
	font-weight: 20;
	font-size: 90px;
	text-align: center;
}
#works .title_container {
	width: 100%;
	text-align: center;
	height: 80px;
}
.form-group {
	margin-top: 30px;
}
.center_works {
	text-align: center;
}
label {
	font-size: 30px;
	color: #fff;
}
#graphic {
	margin: 0 10px;
}
#video {
	margin: 0 10px;
}
#web {
	margin: 0 10px;
}
#interaction {
	margin: 0 10px;
}
#All {
	margin: 0 10px;
}
.graphic {
	height: 300px;
	width: 100%;
	background-color: blue;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.video {
	height: 300px;
	width: 100%;
	background-color: red;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.web {
	height: 300px;
	width: 100%;
	background-color: green;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.interaction {
	height: 300px;
	width: 100%;
	background-color: brown;
	margin-top: 20px;
	position: relative;
	transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
	overflow: hidden;
}
.project {
	margin: 0;
}
.subject {
	margin: 0;
}
.space {
	height: 0;
	width: 100%;
	margin-top: 30px;
}
.description {
  width: 100%;
  height: 300px;
  color: #FFFFFF;
  opacity: 0;
  transition: all 900ms cubic-bezier(0, 0, 0.2, 1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


@media screen and (max-width: 768px) {
	#works .title {
		font-weight: 20;
		font-size: 60px;
		text-align: center;
    }
}
@media screen and (max-width: 991px) {
	#works .mainContainer {
		height: 4139px;
	}

}


/* --------------------- CONTACTS ---------------------*/



/* ---------------------- FOOTER ----------------------*/